<h1>Employee Management</h1>

<div class="form-container">

  <input type="text" placeholder="Employee Name" [(ngModel)]="employeeName">
  <br><br>

  <input type="email" placeholder="Email" [(ngModel)]="email">
  <br><br>

  <input type="text" placeholder="Phone" [(ngModel)]="phone">
  <br><br>

  <input type="text" placeholder="Designation" [(ngModel)]="designation">
  <br><br>

  <input type="number" placeholder="Salary" [(ngModel)]="salary">
  <br><br>

<button class="save-btn" (click)="saveEmployee()">
  Save Employee
</button>
<button class="update-btn" (click)="updateEmployee()">
  Update Employee
</button>

</div>

<table border="1">

  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Email</th>
    <th>Designation</th>
    <th>Salary</th>
    <th>Actions</th>
  </tr>

  <tr *ngFor="let emp of employees">

    <td>{{emp.employeeId}}</td>
    <td>{{emp.employeeName}}</td>
    <td>{{emp.email}}</td>
    <td>{{emp.designation}}</td>
    <td>{{emp.salary}}</td>

    <td>
<button class="edit-btn" (click)="editEmployee(emp)">
  Edit
</button>
<button class="delete-btn" (click)="deleteEmployee(emp.employeeId)">
  Delete
</button>
</td>

  </tr>

</table>
